*{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 24px;
}

label{
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.input-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    margin: 5px 0;
}